In [1]:
%matplotlib inline

In [146]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold, train_test_split
from sklearn.metrics import log_loss

In [3]:
train = pd.read_csv('train.csv')

In [4]:
train.head()

,Activity,D1,D2,D3,D4,D5,D6,D7,D8,D9,...,D1767,D1768,D1769,D1770,D1771,D1772,D1773,D1774,D1775,D1776
0,1,0.000000,0.497009,0.10,0.0,0.132956,0.678031,0.273166,0.585445,0.743663,...,0,0,0,0,0,0,0,0,0,0
1,1,0.366667,0.606291,0.05,0.0,0.111209,0.803455,0.106105,0.411754,0.836582,...,1,1,1,1,0,1,0,0,1,0
2,1,0.033300,0.480124,0.00,0.0,0.209791,0.610350,0.356453,0.517720,0.679051,...,0,0,0,0,0,0,0,0,0,0
3,1,0.000000,0.538825,0.00,0.5,0.196344,0.724230,0.235606,0.288764,0.805110,...,0,0,0,0,0,0,0,0,0,0
4,0,0.100000,0.517794,0.00,0.0,0.494734,0.781422,0.154361,0.303809,0.812646,...,0,0,0,0,0,0,0,0,0,0

In [140]:
X = train[train.columns[1:]]
y = train['Activity']

In [141]:
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.33, random_state=42)

In [100]:
train_X.head()

,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,...,D1767,D1768,D1769,D1770,D1771,D1772,D1773,D1774,D1775,D1776
994,0.133333,0.714512,0.20,0.25,0.162952,0.687409,0.176637,0.415709,0.735256,0.235876,...,0,0,0,0,0,0,0,0,0,0
464,0.100000,0.614154,0.25,0.00,0.213374,0.603003,0.306633,0.328801,0.669586,0.349474,...,0,0,0,0,0,0,0,0,0,0
3264,0.033300,0.539019,0.00,0.00,0.191258,0.612695,0.354226,0.557464,0.703593,0.358928,...,0,0,0,0,0,0,0,0,0,0
2722,0.033300,0.553827,0.05,0.00,0.194294,0.702916,0.197505,0.371944,0.757090,0.202001,...,0,0,0,0,0,0,0,0,0,0
3011,0.033300,0.664443,0.05,0.00,0.292082,0.640669,0.349088,0.490527,0.689810,0.339990,...,0,0,0,0,0,0,0,0,0,0

In [101]:
train_y.head()

994     0
464     1
3264    1
2722    0
3011    0
Name: Activity, dtype: int64

In [114]:
clf = RandomForestClassifier(n_estimators=100)

In [115]:
for train_cv, test_cv in KFold(n_splits=5).split(train_X):
    probas = clf.fit(train_X.iloc[train_cv], train_y.iloc[train_cv]).predict_proba(train_X.iloc[test_cv])
    print(log_loss(train_y.iloc[test_cv], probas))

0.479110732226
0.48232119038
0.452155985375
0.479725014757
0.44960904131

In [118]:
model = clf.fit(train_X.values, train_y.values)
model.score(test_X, test_y)

0.78917609046849757

# Save

In [122]:
test_X = pd.read_csv('test.csv')

In [123]:
test_X.head()

,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,...,D1767,D1768,D1769,D1770,D1771,D1772,D1773,D1774,D1775,D1776
0,0.366667,0.611765,0.05,0.0,0.110435,0.803973,0.106075,0.473965,0.835617,0.106452,...,1,1,1,1,0,1,0,0,1,0
1,0.100000,0.758175,0.30,0.0,0.180128,0.621378,0.287144,0.503919,0.674919,0.403616,...,0,0,0,0,0,0,0,0,0,0
2,0.100000,0.658812,0.10,0.0,0.243421,0.640959,0.312765,0.279784,0.686775,0.280301,...,0,0,0,0,0,0,0,0,0,0
3,0.100000,0.655752,0.10,0.0,0.226978,0.776996,0.150657,0.336948,0.802121,0.125608,...,0,0,0,0,0,0,0,0,0,0
4,0.000000,0.484851,0.00,0.0,0.561200,0.771463,0.244287,0.293096,0.717575,0.230842,...,0,0,0,0,0,0,0,0,0,0

In [124]:
probas = clf.predict_proba(test_X.values)

In [125]:
solution = pd.DataFrame(probas[:, 1], range(1, len(probas)+1), columns=['PredictedProbability'])

In [126]:
solution.head()

   PredictedProbability
1                  0.84
2                  0.88
3                  0.54
4                  0.93
5                  0.20

In [127]:
solution.to_csv('solution.csv', index_label=['MoleculeId'])